.informacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centra los elementos horizontalmente */
    text-align: center;
    margin: 0 auto;
}

article {
    width: 80%;
    margin-bottom: 20px;
}

img {
    display:block;
    margin: 20px auto;
    border: 20px solid  #7d6339;
    border-radius: 10px;
}

h4 {
    font-size: 1.3em;
    text-decoration: underline;
}