/*
Autor: Rossana Katherine Cruz Useche
Asignatura: LMGSI
Unidad: UD 2
Tarea: Tarea evaluativa 2 - SITIO WEB
*/

/*Estilo del contenido de la página*/

p {
    margin: 10px 0;
    line-height: 1.5;
    font-size: 1em;
    color: rgb(236, 236, 230);
    text-align: justify;
}

.informacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    max-width: 960px;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center; /* Añadido para centrar los artículos en la fila */
}

article {
    width: 90%;
    max-width: 800px;
    margin-bottom: 20px;
    box-sizing: border-box;
    margin: 20px; /* Añadido para separar los artículos en pantallas más grandes */
    flex: 1 1 45%; /* Añadido para ajustar el ancho relativo */
}

.foto {
    display: block;
    width: 100%;
    height: auto;
    margin: 20px auto;
    border: 10px solid #7d6339;
    border-radius: 10px;
}

h4 {
    font-size: 1.3em;
    text-decoration: underline;
    margin-bottom: 10px;
}
